[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
[submodule "third_party/mikktspace"]
	path = third_party/mikktspace
	url = https://github.com/mmikk/MikkTSpace.git
	shallow = true
[submodule "third_party/openpbr-bsdf"]
	path = third_party/openpbr-bsdf
	url = https://github.com/adobe/openpbr-bsdf.git
	shallow = true
